<%- include('partials/header') -%>

    <div id="main">
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show">
                  <strong>Error!</strong> <%= error %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
              <% } %>
              <% if(success && success.length > 0) { %>
                <div class="alert alert-success alert-dismissible fade show">
                  <strong>Success!</strong> <%= success %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            <% } %>
            <div class="d-flex justify-content-between align-items-center">
                
                <button class="btn btn-outline-info btn mb-3" data-toggle="tooltip" data-placement="right" title="Go back to home" onclick="goBack()" >&#8592; Go Back</button>
                
                <% if(isPollStarted && !isPollEnded) { %>
                    <a href="#" class="btn btn-outline-success btn mb-3 text-monospace text-light" data-toggle="tooltip" data-placement="right" title="Time left" id="time"></a>
                <% } %>
                
            </div>
            <div class="jumbotron bg-dark text-light">
                <div class="row">
                    <div class="col">
                        <p class="h2 display-4">
                            <span class="lead"></span><%= pollQuestion %>
                        </p>
                        <form class="pt-4" action="/vote/<%= pollID %>" method="post">
                            <div class="row mt-3">
                                <% options.forEach(option => { %> 
                                    <div class="col-md-6">
                                        <div class="form-group form-check ml-5">
                                            <input class="form-check-input" type="radio" name="answer" id="<%= option.answer %>" value="<%= option.answer %>">
                                            <label class="form-check-label" for="<%= option.answer %>">
                                                <%= option.answer %>
                                            </label>
                                        </div>
                                    </div>
                                    <% }) %>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </div>
                                <%  if(isPollEnded) { %>
                                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block mt-4" data-toggle="tooltip" data-placement="top" title="poll is ended already">Submit</button>
                                <% } else if(!isPollStarted) { %>
                                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block mt-4" data-toggle="tooltip" data-placement="top" title="Poll is not started yet">Submit</button>
                                <% } else if(isAllowedUser && !isVoted && isPollStarted && !isPollEnded) { %>
                                    <button type="submit" class="btn btn-outline-success btn-lg btn-block mt-4" data-toggle="tooltip" data-placement="top" title="Give your feedback">Submit</button>
                                <% } else if(isVoted) { %> 
                                    <button type="submit" class="btn btn-outline-info btn-lg btn-block mt-4" data-toggle="tooltip" data-placement="top" title="You have voted Already!">Submit</button>
                                <% }  else { %>
                                    <button type="submit" class="btn btn-outline-secondary btn-lg btn-block mt-4" data-toggle="tooltip" data-placement="bottom" title="You are not allowed to vote in this poll">Submit</button>
                                <% } %>
                                
                        </form>
                    </div>
                </div>
            </div>
            <% if(isVoted || isAllowedUser || isPollEnded) { %>
            <div class="jumbotron bg-dark text-light">
                <div id="chartContainer"></div>
            </div>
            <% } %>
            <div class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="comment" class="lead text-info">Write Comment</label>
                    <textarea class="form-control bg-dark border border-info text-light" rows="4" name="comment" id="comment" required placeholder="enter here..."></textarea>
                </div>
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="username" id="username" value="<%= user.username %>">
                <button class="btn btn-info px-5 lead align-self-end" id="submit-comment">Submit</button>

            </div>
            <h2 class="text-info comment p-0 m-0">Comments</h2>
            <div class="comment-container custom-scrollbar p-0 mt-3">
                <ul class="comment_box my-3 list-group">
                    
                </ul>
            </div>
        </div>
    </div>

<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    var chartContainer = document.getElementById('chartContainer')
    var dataPoints = '<%- JSON.stringify(dataPoints) %>'
    var pollQuestion = '<%- JSON.stringify(pollQuestion) %>'
    var isVoted = '<%- JSON.stringify(isVoted) %>'
    var endAt = '<%- JSON.stringify(endAt) %>'
    var pollID = '<%- JSON.stringify(pollId) %>'
    pollID = JSON.parse(pollID)

    dataPoints = JSON.parse(dataPoints)
    pollQuestion = JSON.parse(pollQuestion)
    endAt = JSON.parse(endAt)
    const date1 = new Date()
    const date2 = new Date(endAt);
    
    function goBack() {
        window.history.back();
    }
    
    var time = document.getElementById('time') 

    if(time) {
        var delta = Math.abs(date2 - date1) / 1000;

        var days = Math.floor(delta / 86400);
        delta -= days * 86400;

        var hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;

        var minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;

        if(days > 0) {
            time.innerHTML = days+'-Days '+ hours+'-H '+minutes+'-M'
        }else {
            time.innerHTML = hours+'-H '+minutes+'-M'
        }
        
    }
    
    if(chartContainer){
        
        var chart = new CanvasJS.Chart('chartContainer', {
            animationEnabled : true,
            theme : 'dark2',
            title : {
                text : pollQuestion
            },
            axisY: {
		        title: "Number of Votes"
            },
            data: [{        
                type: "column",  
                showInLegend: true, 
                legendMarkerColor: "grey",
                legendText : 'Options' ,
                dataPoints
            }]

        }).render()

        var pusher = new Pusher('4477a0a083a468f17deb' , {
            cluster: 'ap2'
        })
        var channel = pusher.subscribe(pollID);

        channel.bind('vote', function(data) {
            dataPoints = data.dataPoints
            chart = new CanvasJS.Chart('chartContainer', {
            theme : 'dark2',
            title : {
                text : pollQuestion
            },
            axisY: {
		        title: "Number of Votes"
            },
            data: [{        
                type: "column",  
                showInLegend: true, 
                legendMarkerColor: "grey",
                legendText : 'Options' ,
                dataPoints
            }]

        }).render()
        })
       
    }
    getComments()
    let btn = document.querySelector('#submit-comment')
    let comment_box = document.querySelector('.comment_box')
    
    btn.addEventListener('click', (e) => {
        e.preventDefault()
        let comment = document.querySelector('#comment').value
        let _csrf = document.querySelector('#_csrf').value
        if(!comment) {
            return
        }
        postComment(comment, _csrf)

    })

    async function postComment(comment, _csrf) {
        let data = {
            comment,
            _csrf,
            pollID
        }
        const res = await axios.post('/poll_comment', data)
        document.querySelector('#comment').value = ''
        if(res.data.status === 'success') {
            getComments()
        }
    }
    async function getComments() {
        const res = await axios.get(`/poll_comment/${pollID}`)
        if(res.data.status === 'success'){
            res.data.data.comments.forEach(comment => {
                appendToDom(comment)
            })
        }
    }

    function appendToDom(data) {
        
        let liTag = document.createElement('li')
        let markup = `
        <div class="card bg-dark border-dark mb-3">
            <div class="card-body">
                <h6 class="lead">${data.user.username}</h6>
                <div class="d-flex justify-content-between">
                    <span class="text-small text-muted">${data.text}</span>
                    <span class="text-muted text-monospace d-flex align-items-center"><i class="far fa-clock bg-dark mr-2"></i><span class="text-small">${moment(data.time).format('LT')}</span></span>
                </div>
            </div>
        </div>
        `
        liTag.innerHTML = markup
        comment_box.prepend(liTag)
    }

    
</script>

<%- include('partials/footer') -%>